.faq-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  margin: 0px 10%;
  @media only screen and (max-width: 1200px) {
    margin: 0px 30px;
  }
  .faq-title {
    display: flex;
    margin: 20px 0px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
    color: #425D9FBF;
    @media only screen and (max-width: 1200px) {
      margin-left: 0px;
    }
    // @media only screen and (max-width: 1200px) {
    //   font-size: 5vw;
    //   margin: 0px 6%;
    //   padding: 4% 8.7%;
    //   margin-right: 100%;
    // }
    // @media only screen and (max-width: 550px) {
    //   font-size: 7vw;
    //   padding: 4% 8.7%;
    //   margin-right: 100%;
    // }
  }
  .faq-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    margin: 0px 5%;
    @media only screen and (max-width: 1200px) {
      margin: 0px 30px;
    }
  }

  .accordian {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 1%;
  }

  .MuiAccordion-root:before {
    border: none;
    background-color: transparent;
  }

  .petal {
    margin-top: -50px;
    margin-right: 15px;
    width: 100%;
  }
}