.events-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8%;
      .word {
        padding: 10px 25px 20px 0px;
    
        color: #425D9F;
        font-family: 'Avenir';
        font-weight: 900;
        font-size: 60px;
        background:transparent;
        border-radius: 25px;
        
        @media only screen and (max-width: 550px) {
          border-radius: 20px;
          font-size: 50px;
          margin: 0px 7px;
          padding-left: 2%;
        }
      }
      
    .MuiCardHeader-subheader {
        font-size: 20px;
    }

    .MuiCardContent-root {
      padding-left: 10px;
    }

    .MuiCard-root {
      box-shadow: none;
  }
}
.cardLink {
  font-weight: bold;
  color: #8586A9;
}


.react-multi-carousel-track {
  min-height: 158px;
  max-height: 400px;
}

button.react-multiple-carousel__arrow {
  min-width: 7px;
  min-height: 21px;
  width: 25.5px;
  height: 51px;
  background: transparent;
  margin: 5px;

}

button.react-multiple-carousel__arrow::before {
  font-size:21px;
  @media only screen and (min-width: 485px) {
    font-size:51px;
  }
}

button.react-multiple-carousel__arrow:hover {
  background: transparent;
}

.MuiPaper-rounded {
  border-radius: 0px;
}