.events-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
    margin: 0px 10%;
    @media only screen and (max-width: 1200px) {
      margin: 0px 30px;
    }
    .cardContainer {
      display:flex;
      border-radius: 25px;
      height: 100%;
      justify-content: center;
    }
    .word {
      margin: 20px 0px 20px 0px;
      margin-top: 90px;
      color: #425D9FBF;
      font-family: 'Avenir';
      font-weight: 900;
      font-size: 50px;
      line-height: 50px;
      background:transparent;
      
      @media only screen and (max-width: 1200px) {
        margin-left: 0px;
      }
    }
      
    .MuiCardHeader-subheader {
        font-size: 20px;
        color: #8586A9;
    }

    .MuiCard-root {
      box-shadow: none;
      border-radius: 15px;
  }
}
a.cardLink {
  font-weight: bold;
  color: #8586A9 !important;
  text-decoration: underline !important;
}


.react-multi-carousel-track {
  min-height: 158px;
  max-height: 400px;
}

button.react-multiple-carousel__arrow {
  min-width: 7px;
  min-height: 21px;
  width: 25.5px;
  height: 51px;
  background: transparent;
  margin: 5px;

}

button.react-multiple-carousel__arrow::before {
  font-size:41px;
}

button.react-multiple-carousel__arrow:hover {
  background: transparent;
}

div.MuiPaper-rounded {
  border-radius: 0px;
}

div.MuiCardHeader-root {
  margin: 24px 22px 15px 22px;
  padding: 0px;
}

div.MuiCardContent-root {
  margin: 0px 22px 0px 22px;
  padding: 0px;
}

span.MuiTypography-h5 {
  font-size: 22px;
}

button.react-multiple-carousel__arrow--left {
  margin: -15px;
}

button.react-multiple-carousel__arrow--right {
  margin: -10px;
}