.sponsors-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding-bottom: 50px;
  .sponsors-title {
    margin: 100px 15%;
    font-size: 50px;
    font-family: 'Shrikhand';
    line-height: 50px;
    color: white;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
    margin-top: 90px;

  }

  .box {
    margin: 0px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.25);
    color: #515151;
    width: 1050px;
    font-family: Avenir;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    border-radius: 10px;
    padding: 17px 23px;
    margin-bottom: 30px;
    border-radius: 25px;

    @media only screen and (max-width: 1200px) {
      width: 80%;
      height: 50%;
      margin: 0px 50px;
    }
  }
  
  .sponsors-row {
    align-self: center;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .sponsor {
      flex-basis: 33.33%;

      .x-large-text {
        width: 220px;
        height: 70px;
        margin: 20px 40px;
        font-family: 'Nunito';
        font-size: 25px;
        color: white;
        border: 2px solid white;
        border-radius: 10px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        cursor: pointer;
        padding: 15px;
      }
    }


    
  }
  .tree2 {
    margin-top: -500px;
    margin-right: 0;
    padding-right: 0;
    align-self: flex-end;
    width: calc(20vw + 30px);
    max-width: 345px;
    height: auto;
  }
}

