.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  height: 100%;

  .banner {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    height: 1100px;
    // justify-content: center;
    align-items: center;
    text-align: center;
    // background-repeat: round;
    // background-size: auto 102%;
    background: linear-gradient(to bottom, #B8C6E9 0%, #D9C9A7 80%, #B1CC7C 100%);

    .gracehacks{
      font-style: normal;
      font-family: 'Shrikhand';
      font-weight: 400;
      font-size: 100px; // Seems too big
      // line-height: 150px;
      color: white;
      text-shadow: 5px 5px 0px #8C93A6;
      letter-spacing: 10px;
      width: 100%;
      
      @media only screen and (max-width: 800px) {
        font-size: 60px;
      }
    }

    .description{
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 47px;
      color: #70778A;
      @media only screen and (max-width: 600px) {
        font-size: 18px;
      }
      
    }
    .event-info {
      padding: 10px;
      border-radius: 10px;
      line-height: 65px;
      margin-top: 6%;
      font-weight: 700;
      color: #6C7845;
      background-color: #FCFEF91F;
      font-size: 40px;
      width: 40%;
      @media only screen and (max-width: 700px) {
        font-size: 25px;
        width: 50%;
      }
    }
  }

  .squiggle {
    align-self: center;
    // margin-top: -750px;
    margin-top: calc(-65vw - 30px);

    width: calc(100vw + 30px);
    height: auto;

  }

  .deers {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-top: calc(-20vw - 25px);
    // margin-top: -20%;
    gap: 40%;
    .deer2 {
      width: calc(20vw + 30px);
      height: auto;

    }

    .deer1 {
      width: calc(20vw + 30px);
      height: auto;
      margin-right: 3%;
    }


  }


  .curve {
   //  margin-top: calc(-10vw + 30px);
    margin-top: -190px;
    // rgba(191, 203, 139)
    background: #BFCB8B;
    height: 30vw;  
    border-top: solid 5px #000;
    border-color: #4E6F4640 transparent transparent #4E6F4640;
    border-radius: 400% 400% 0 0;
  }

  .tree {
    margin-top: -550px;
    margin-right: -4%;
    margin-left: auto;
    align-self: flex-end;
    width: calc(20vw + 30px);;
    height: auto;
  }



}