.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  height: 100%;

  .banner {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    height: 1100px;
    // justify-content: center;
    align-items: center;
    text-align: center;
    // background-repeat: round;
    // background-size: auto 102%;
    background: linear-gradient(to bottom, #B8C6E9 0%, #D9C9A7 80%, #B1CC7C 100%);

    .gracehacks{
      font-style: normal;
      font-family: 'Shrikhand';
      font-weight: 400;
      font-size: 100px; // Seems too big
      line-height: 150px;
      color: white;
      text-shadow: 5px 5px 0px #8C93A6;
      letter-spacing: 10px;
      
      @media only screen and (max-width: 1000px) {
        font-size: 65px;
      }
    }

    .description{
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 47px;
      color: #70778A;
      
    }
    .event-info {
      padding: 10px;
      border-radius: 10px;
      margin-top: 6%;
      color: #6C7845;
      background-color: #FCFEF91F;
      font-size: 25px;
      width: 60%;
    }
  }

  .squiggle {
    align-self: center;
    margin-top: -750px;
    width: 1230px;
    height: 520px;

  }

  .deers {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-top: -200px;
    gap: 700px;
    .deer2 {
      width: 300px;
      height: 237px;
    }

    .deer1 {
      width: 268px;
      height: 310px;
    }


  }


  .curve {
    margin-top: -190px;
    // rgba(191, 203, 139)
    background: #BFCB8B;
    height: 300px;  
    border-top: solid 5px #000;
    border-color: #4E6F4640 transparent transparent #4E6F4640;
    border-radius: 400% 400% 0 0;
  }



}