.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Nunito', sans-serif;

  .banner {
    display: flex;
    flex-direction: column;
    height: 700px;
    // justify-content: center;
    align-items: center;
    text-align: center;
    // background-repeat: round;
    // background-size: auto 102%;
    background: linear-gradient(180deg, #B8C6E9, #D9C9A7, #B1CC7C);

    .gracehacks{
      font-style: normal;
      font-family: 'Shrikhand';
      font-weight: 400;
      font-size: 140px; // Seems too big
      line-height: 150px;
      color: white;
      text-shadow: 5px 5px 0px #8C93A6;
      letter-spacing: 10px;
      
      @media only screen and (max-width: 1000px) {
        font-size: 65px;
      }
    }

    .description{
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 47px;
      color: #70778A;
      
    }
    .event-info {
      padding: 10px;
      border-radius: 10px;
      margin-top: 10%;
      color: #6C7845;
      background-color: #FCFEF91F;
      font-size: 25px;
      width: 60%;
    }
  }

  .curve {
    margin-top: -190px;
    background: #BFCB8B;
    height: 400px;  
    border: solid 5px #000;
    border-color: #4E6F4640 #4E6F4640 transparent #4E6F4640;
    border-radius: 400% 400% 0 0;
  }


}