.team-container {
  text-align: center;
  //margin-right: 196px;
  //margin-left: 122px;
  //padding: 85px 0px;
  font-family: Avenir;
  padding-bottom: 100px;
  margin: 0px 10%;
  @media only screen and (max-width: 1200px) {
    margin: 0px 30px;
  }
  .title {
    display: flex;
    font-size: 50px;
    font-family: Avenir;
    line-height: 50px;
    color: #425D9FBF;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0em;
    margin: 20px 0px;  
    @media only screen and (max-width: 1200px) {
      margin-left: 0px;
    }
  }
  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .member {
      margin: 0px 40px;
      margin-bottom: 40px;
      @media screen and (max-width: 1200px) {
        margin: 0px 20px;
        margin-bottom: 20px;
      }
      .picture {
        width: 230px;
        height: 230px;
        border-radius: 50%;
        margin-bottom: 25px;
        @media screen and (max-width: 1200px) {
          height: 150px;
          width: 150px;
        }
      }
      .no-picture {
        width: 230px;
        height: 230px;
        margin-bottom: 25px;
        @media screen and (max-width: 1200px) {
          height: 150px;
          width: 150px;
        }
      }
      .name {
        font-size: 25px;
        text-align: center;
        color: #413F3F;
        margin-bottom: 12px;
      }

      .position {
        font-family: Avenir;
        font-weight: 400;
        color: #5B5C74;
        font-size: 20px;
        margin-bottom: 5px;
      }

      .pronouns {
        font-family: Avenir;
        color: white;
        font-size: 18px;
      }
    }
  }
}
