.team-container {
  text-align: center;
  padding: 85px 0px;
  padding-left: 25px;
  margin-right: 196px;
  margin-left: 122px;
  font-family: Avenir;
  @media screen and (max-width: 1000px) {
    margin-left: 0px;
    margin-right: 0px;
  }
  .title {
    display: flex;
    font-size: 45px;
    font-family: Avenir;
    line-height: 45px;
    color: #425D9FBF;
    font-style: normal;
    font-weight: 900;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: left;
  }
  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .member {
      margin: 0px 40px;
      margin-bottom: 50px;
      .picture {
        width: 230px;
        height: 230px;
        border-radius: 50%;
        margin-bottom: 25px;
        @media screen and (max-width: 1000px) {
          height: 150px;
          width: 150px;
        }
      }
      .no-picture {
        width: 230px;
        height: 230px;
        margin-bottom: 25px;
        @media screen and (max-width: 1000px) {
          height: 150px;
          width: 150px;
        }
      }
      .name {
        font-size: 25px;
        text-align: center;
        color: #413F3F;
        margin-bottom: 12px;
      }

      .position {
        font-family: Avenir;
        font-weight: 400;
        color: #5B5C74;
        font-size: 20px;
        margin-bottom: 5px;
      }

      .pronouns {
        font-family: Avenir;
        color: white;
        font-size: 18px;
      }
    }
  }
}
