.team-container {
    margin: 0;
    font-size: 42px;
    font-family: sans-serif;
    color: #333;
    overflow: hidden;
}
  
.orb {
    width: 100px;
    height: 100px;
    // background: #999;
    border-radius: 25px;
    display: inline-block;
    margin: 0 24.7px;
    float: left;
    transition: all .2s ease-out;
}
  
.orb:hover {
    transform: scale(1.2);
    opacity: .5;
    cursor: pointer;
}
  
.marquee {
    height: 250px;
    width: 2550px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: 100px auto 0px auto;
}
  
.marquee--inner {
    display: block;
    width: 200%;
    position: absolute;
    animation: marquee 20s linear infinite;
    padding: 10px;
}

.marquee--inner:hover {
    animation-play-state: paused;
}

.spin {
    float: left;
    width: 50%;
}

@keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}

.invisible-name {
    display: none;
    z-index: 289 !important;
    font-size: 12px;
    opacity: 1;
}

.orb:hover + .invisible-name {
    display: block;
}

.member-name {
    font-size: 15px;
}

.member-name {
    align-items: center;
    text-align: center;
    font-size: 15px;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    margin: 0 24.7px;
    float: left;
    transition: all .2s ease-out;
    padding-top: 20px;
}