.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 9.5vw 0px;
  padding: 0 9.5vw;
}

.about-title {
  display: flex;
  justify-content: center;
  background: #413F3F;
  border-radius: 2vw;
  font-size: 5.3vw;
  line-height: 5.3vw;
  color: #C5C5C5;
  padding: 1.5vw 5.6vw;
}

.about-subtitle {
  font-size: 2.3vw;
  line-height: 2.3vw;
  color: #FFFFFF;
  margin: 2.3vw 0px;
}

.about-description {
  font-size: 2.3vw;
  line-height: 2.3vw;
  color: #FFFFFF;
}
