.about-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media only screen and (max-width: 1200px) {
    flex-direction: column;
  }

  .petal {
    margin-top: -300px;
    width: 20%;
    max-width: 150px;
    @media screen and (max-width: 1200px) {
      margin-top: 0px;
      margin-left: 0px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    font-family: Avenir;
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: left;

    @media screen and (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      margin-left: 25px;
      margin-right: 25px;
    }
    .title {
      font-size: 45px;
      line-height: 45px;
      color: #425D9FBF;
      text-align: left;
      padding: 10px 22px;
      margin: 20px 0px;
      margin-left: -22px;
    }

    .description {
      font-family: Avenir;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 47px;
      text-align: left;
      color: #393943;
      margin-bottom: 100px;
      @media screen and (max-width: 1200px) {
        margin-bottom: 50px;
      }
    }
  }

  .fish {
    margin-top: 400px;
    margin-left: -100px;
    width: 70%;
    max-width: 500px;
    @media screen and (max-width: 1200px) {
      margin-top: -100px;
      display: flex;
      align-self: flex-end;
    }
  }

}