.about-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  @media only screen and (max-width: 1200px) {
    flex-direction: column;
  }

  .abpetal {
    margin-top: -300px;
    width: 20%;
    max-width: 150px;
    @media screen and (max-width: 1200px) {
      margin-top: 0px;
      margin-left: 0px;
      width: 10%;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    font-family: Avenir;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    align-items: center;
    
    .condense {
      max-width: 80%;
    }

    @media screen and (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      margin-right: 30px;
    }
    .title {
      font-size: 50px;
      line-height: 50px;
      color: #425D9FBF;
      font-weight: 900;
      margin: 100px 0px 100px 0px;
      @media screen and (max-width: 1200px) {
        font-size: 35px;
        margin: 50px 0px;
      }
    }

    .description {
      font-family: Avenir;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 47px;
      text-align: left;
      color: #393943;
      margin-bottom: 50px;
      @media screen and (max-width: 1200px) {
        margin-bottom: 50px;
        font-size: 25px;
      }
      .bold_desc {
        font-weight: bold;
      }

    }
    .abt {
      text-align: center;
      width:80%;
    }

    .toppt {
      margin-right: 10%
    }
  }

  .fish {
    margin-top: 100px;
    margin-left: -100px;
    width: 70%;
    max-width: 500px;
    @media screen and (max-width: 1200px) {
      margin-top: -100px;
      display: flex;
      align-self: flex-end;
    }
  }

  .contain {
    display: flex;
  }

  .aligncorr {
    align-items: flex-start;
  }

}