.about-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //align-items: center;
  //flex-wrap: wrap;
  //border: 2px solid red;
  //padding: 10px 0px 0 0px;
  // @media screen and (max-width: 1465px) {
  //   &:last-child {
  //     //flex-direction: column-reverse;
  //   }
  // }

  .petal {
    margin-top: -300px;
    //border: 2px solid yellow;
  }

  .info {
    display: flex;
    flex-direction: column;
    //margin-right: 196px;
    margin-left: 100px;
    font-family: Avenir;
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: left;
    //border: 2px solid green;

    @media screen and (max-width: 900px) {
      display: flex;
      flex-direction: column;
      margin-left: 0px;
      margin-right: 0px;
    }
    .title {
      font-size: 45px;
      line-height: 45px;
      color: #425D9FBF;
      text-align: left;
      padding: 10px 22px;
      margin: 20px 0px;
      margin-left: -22px;
    }

    .description {
      font-family: Avenir;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 47px;
      text-align: left;
      color: #393943;
      margin-bottom: 100px;
    }
  }

  .fish {
    margin-top: 400px;
    margin-left: -100px;
    //border: 2px solid red;
  }

}