.header-container {
  display: flex;
  flex-direction: column;
  margin: 2% 0px 10% 0px;
  .image {
    z-index: 0;
    width: 41%;
    height: 41%;
    margin: 20px 0px 0px 6%;
  }

  .title {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    margin: -21.8% 0px 0px 15%;

    .letter {
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 4.5vw;
      line-height: 100%;
      color: #EBEBEB;
      background: #413F3F;
      border-radius: 2vw;

      margin: 0px 1.5% 0px 0px;
      padding: 1% 2.3%;
    }

    .gracehacks {
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 4.5vw;
      line-height: 100%;
      color: #EBEBEB;
      background: #413F3F;
      border-radius: 2vw;

      margin: 0px 0px 0px 3.5%;
      padding: 0.5% 2%;
    }
  }

  .event {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;

    font-size: 1.8vw;
    color: #E0E0E0;

    margin: 1.5% 0px 0px 28.5%;
  }

  .button {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5% 0px 0px 13%;

    .register {
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 1.7vw;
      line-height: 100%;
      color: #EBEBEB;
      background: #413F3F;;
      border-radius: 1vw;
      box-shadow: 2px 5px 5px #906c8e;

      padding: 0.7% 2.3%;
    }
  }
}