
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 60px 0px;
  font-family: 'Open Sans', sans-serif;

  .banner {
    background-image: url('../../assets/lotuswater.png');
    height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;

    .gracehacks{
      font-style: normal;
      font-weight: 400;
      font-size: 95px; // Seems too big
      line-height: 80px;
      background: linear-gradient(180deg, #464545 0%, #313131 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    .description{
      font-style: normal;
      font-weight: 400;
      font-size: 54.316px;
      line-height: 66px;
      color: rgba(66, 93, 159, 0.75);
    }
  }
  
  .text-box {
  width: 80%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  margin:auto;
  
  .date-row {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 20px;
    .event{
      max-width: 50%;
      margin-left: 20px;
    }
  }

  .location-row{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 20px;
    .event{
      max-width: 50%;
      margin-left: 20px;
    }
  }
  }


  .buttons-row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .button{
      display: flex;
      width: 250px;
      height: 100px;
      margin: 20px;
      box-sizing: border-box;
      background-color: #FFFFFF;
      border: 1px solid #EB84B5;
      border-radius: 20px;
    }

    .button-text{
      display: flex;
      font-weight: 700;
      font-size: 22px;
      height:30px;
      margin: auto;
      background: linear-gradient(180deg, #F2ACAC 0%, #EB84B5 79.69%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }

}