.header-container {
    display: flex;
    flex-direction: column;
}

.header-image {
    z-index: 0;
    width: 40%;
    height: 40%;
    margin: 20px 0 0 4%;
}
  
.title {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: -25% 4% 0 4%;
}
  
.letterHeader {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 7.5vw;
    line-height: 100%;
    color: #EBEBEB;
    background: #413F3F;
    border-radius: 20%;
  
    margin: 0 1.5% 0 0px;
    padding: 0.5% 2%;
}
  
.gracehacks {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 7.5vw;
    line-height: 100%;
    color: #EBEBEB;
    background: #413F3F;
    border-radius: 2vw;

    margin: 0 0 0 4%;
    padding: 0.5% 2%;
}
  
.event {
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;

    font-size: 2.1vw;
    color: #E0E0E0;
  
    margin: 3% 6% 0 6%;
}
  
.button {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 1% 6% 0 6%;
}
  
.register {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 428px; */

    font-size: 2.5vw;
    line-height: 100%;
    color: #413F3F;
    background: #EBEBEB;
    border-radius: 1vw;
  
    /* margin-bottom: 25px; */
    padding: 1% 3%;
}
  