.header-container {
    display: flex;
    flex-direction: column;
}

.header-image {
    z-index: 0;
    width: 40%;
    height: 40%;
    margin: 20px 0 0 4%;
}
  
.title {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: -25% 4% 0 4%;
}
  
.letterHeader {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 7.5vw;
    line-height: 100%;
    color: #EBEBEB;
    background: #413F3F;
    border-radius: 20%;
  
    margin: 0px 1.5% 25px 0px;
    padding: 0.5% 2%;
}
  
.word {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 7.5vw;
    line-height: 100%;
    color: #EBEBEB;
    background: #413F3F;
    border-radius: 2vw;

    margin: 0px 0px 25px 4%;
    padding: 0.5% 2%;
}
  
.event {
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    font-size: 35px;
    color: #E0E0E0;
  
    margin: 50px 6.5% 25px 6%;
}
  
.button {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 6.5% 0 6%;
}
  
.register {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 428px;

    font-size: 66px;
    line-height: 70px;
    color: #413F3F;
    background: #EBEBEB;
    border-radius: 25px;
  
    margin-bottom: 25px;
}
  