 @font-face {
  font-family: 'VCRFont';
  src: url('../assets/VCR.ttf') format('truetype');
}


.app-container {
  background: linear-gradient(180deg, #4E119C 0%, rgba(255, 255, 255, 0) 100%),
  #B576A7;
  font-family: 'VCRFont';
}