 @font-face {
  font-family: 'VCRFont';
  src: url('../assets/VCR.ttf') format('truetype');
}


.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, #DF9DD0 0%, rgba(255, 255, 255, 0) 100%),
  #6A2BB9;
  font-family: 'VCRFont';
}

.header-image {
  width: 700px;
  height: 1000px;
  z-index: 0;
  border: 2px solid red;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
  margin: -400px 7% 0 7%;
  /* border: 1px solid black; */
}

.title
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 774px;
  /* margin-top: 321px; */
  /* position: absolute; */
  /* width: 630px;
  height: 600px;
  left: 0px;
  top: 98px; */
  /* width: 100%; */

  /* background: url('../assets/GraceHacks.png'); */
  /* background-size: 630px 600px; */
}

#letterU
{
  display: flex;
  justify-content: center;
  align-items: center;

  /* position: absolute;
  width: 66px;
  height: 108px;
  left: 163px;
  top: 417px; */

  font-style: normal;
  font-weight: normal;
  font-size: 111px;
  line-height: 108px;

  color: #EBEBEB;

  /* position: absolute;
  width: 126px;
  height: 115px;
  left: 136px;
  top: 230px; */

  background: #413F3F;
  border-radius: 25px;

  margin-bottom: 25px;
  margin-right: 15px;
  padding: 10px 30px 10px;
}

#letterCf
{
  display: flex;
  justify-content: center;
  align-items: center;

  /* position: absolute;
  width: 66px;
  height: 108px;
  left: 299px;
  top: 417px; */

  font-style: normal;
  font-weight: normal;
  font-size: 111px;
  line-height: 108px;

  color: #EBEBEB;

  /* position: absolute;
  width: 126px;
  height: 115px;
  left: 274px;
  top: 230px; */

  background: #413F3F;
  border-radius: 25px;

  margin-bottom: 25px;
}

#letterS
{
  display: flex;
  justify-content: center;
  align-items: center;

  /* position: absolute;
  width: 66px;
  height: 108px;
  left: 442px;
  top: 415px; */

  font-style: normal;
  font-weight: normal;
  font-size: 111px;
  line-height: 108px;

  color: #EBEBEB;

  /* position: absolute;
  width: 126px;
  height: 115px;
  left: 412px;
  top: 230px; */

  background: #413F3F;
  border-radius: 25px;

  margin-bottom: 25px;
}

#letterC
{
  display: flex;
  justify-content: center;
  align-items: center;

  /* position: absolute;
  width: 66px;
  height: 108px;
  left: 581px;
  top: 417px; */

  font-style: normal;
  font-weight: normal;
  font-size: 111px;
  line-height: 108px;

  color: #EBEBEB;

  /* position: absolute;
  width: 126px;
  height: 115px;
  left: 550px;
  top: 230px; */

  background: #413F3F;
  border-radius: 25px;

  margin-bottom: 25px;
}

#word
{
  display: flex;
  justify-content: center;
  align-items: center;

  /* position: absolute;
  width: 651px;
  height: 108px;
  left: 725px;
  top: 412px; */

  font-style: normal;
  font-weight: normal;
  font-size: 111px;
  line-height: 108px;

  color: #EBEBEB;

  /* position: absolute;
  width: 677px;
  height: 128px;
  left: 712px;
  top: 220px; */

  background: #413F3F;
  border-radius: 25px;

  margin-bottom: 25px;
  margin-left: 36px;
  padding: 10px 30px 10px;
}

#event
{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  /* position: absolute;
  width: 759px;
  height: 34px;
  left: 597px;
  top: 462px; */

  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 34px;

  color: #E0E0E0;

  margin-bottom: 25px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

#register
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 428px;

  /* position: absolute;
  width: 310px;
  height: 64px;
  left: 1015px;
  top: 635px; */

  font-style: normal;
  font-weight: normal;
  font-size: 66px;
  line-height: 64px;

  color: #413F3F;

  /* position: absolute;
  width: 428px;
  height: 91px;
  left: 956px;
  top: 512px; */

  background: #EBEBEB;
  border-radius: 25px;

  margin-bottom: 25px;
}
