.navigation-container {
  z-index:2;
  display: flex;
  position: fixed;
  top: 0;
  width:100%;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2); // adding box shadow for block
  // justify-content: center;
  // align-items: center;
  flex-direction: row;
  // #B8C6E9
  // background-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(184, 198, 233, 0.8);
  // opacity: 0.8; 
  color: #6E7477;
  padding-right: 100px;
  button:focus { 
    border: none;
  }
  @media screen and (max-width: 1300px) {
    padding-right: 7%;
  }
  #gracehacks-button {
    align-self: center;
  }
  font-size: 20px;
  height: 90px;
  .logo {
    width: 60px;
    height: 60px;
    display: flex;
    
    align-self: flex-start;
  }
  #desktopButtons {
    align-self: center;
    justify-content: center;
    margin: auto;
    
  }
  #menuIcon {
    justify-self: flex-end;
    margin-left: auto;
  }
}