.navigation-container {
  display: flex;
  position:fixed;
  top:0;
  width:100%;
  justify-content: flex-end;
  align-items: center;
  background: #D6F5FF;
  color: #6E7477;
  padding-right: 82px;
  @media screen and (max-width: 1300px) {
    padding-right: 7%;
  }
  font-size: 20px;
  height: 90px;
}