.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #413F3F;
  color: #C4C4C4;
  padding: 0px 1.7vw;
  height: 6.3vw;
  font-size: 3.8vw;
  line-height: 3.8vw;
}

a, a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: inherit;
}

.nav-info {
  display: flex;
  align-items: center;
}


.nav-apply {
  margin-right: 3.8vw;
  cursor: pointer;
}

.nav-icon {
  width: 3.8vw;
  height: 3.8vw;
  background: #C4C4C4;
  border-radius: 50%;
  cursor: pointer;
}