.sponsors-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;

  .sponsors-title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    text-align: left;
    margin-right: 850px;
    font-family: Avenir;
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: 67px;
    letter-spacing: 0em;
    color: rgba(66, 93, 159, 0.75);

      @media only screen and (max-width: 1200px) {
        border-radius: 30%;
        font-size: 5vw;
        margin: 0px 6%;
        padding: 4% 8.7%;
        margin-right: 80%;
      }
      @media only screen and (max-width: 500px) {
        border-radius: 12px;
        font-size: 30px;
        margin: 0px 5px;
        padding: 5px 10px;
        margin-right: 70%;
      }
  }

  .box {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.25);
    color: #515151;
    width: 1050px;
    font-family: Avenir;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em; 
    border-radius: 10px;
    padding: 17px 23px;
    margin-bottom: 30px;
    height: 70px;
    width: 920px;
    left: 260px;
    top: 7202px;
    border-radius: 0px;

    @media only screen and (max-width: 1200px) {
      font-size: 20px;
      width: 80%;
      height: 50%;
    }
  }
  
  .sponsors-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .x-large-logo {
      width: 225px;
      margin: 20px 40px;
    }
    .large-logo {
      width: 233px;
      margin: 20px 50px;
    }
    .medium-logo {
      width: 184px;
      margin: 20px 40px;
    }
    .small-logo {
      width: 157px;
      margin: 20px 40px;
    }
    .x-small-logo {
      width: 101px;
      margin: 20px 40px;
    }
    .CBT-logo {
      width: 180px;
      margin: 20px 40px;
    }
    
  }
}

