.sponsors-container {
  display: flex;
  flex-direction: column;
  //margin-right: 196px;
  //margin-left: 122px;
  padding-bottom: 50px;
  margin: 0px 10%;
  @media screen and (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
  }
  .sponsors-title {
    font-size: 50px;
    font-family: Avenir;
    line-height: 50px;
    color: #425D9FBF;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0em;
    margin: 20px 0px;
    @media only screen and (max-width: 1200px) {
      margin-left: 0px;
    }
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.25);
    color: #515151;
    width: 1050px;
    font-family: Avenir;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em; 
    border-radius: 10px;
    padding: 17px 23px;
    margin-bottom: 30px;
    height: 70px;
    width: 920px;
    left: 260px;
    top: 7202px;
    border-radius: 25px;

    @media only screen and (max-width: 1200px) {
      width: 80%;
      height: 50%;
    }
  }
  
  .sponsors-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .x-large-logo {
      width: 225px;
      margin: 20px 40px;
      cursor: pointer;
    }
    .x-large-text {
      width: 220px;
      height: 70px;
      margin: 20px 40px;
      font-family: Avenir;
      font-size: 25px;
      color: white;
      border: 2px solid white;
      border-radius: 10px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-weight: 900;
      cursor: pointer;
      padding: 15px;
    }
    .large-logo {
      width: 233px;
      margin: 20px 50px;
    }
    .medium-logo {
      width: 184px;
      margin: 20px 40px;
    }
    .small-logo {
      width: 157px;
      margin: 20px 40px;
    }
    .x-small-logo {
      width: 101px;
      margin: 20px 40px;
    }
    .CBT-logo {
      width: 180px;
      margin: 20px 40px;
    }
    
  }
}

