.sponsors-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px 0px;
}

.sponsors-title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

.box {
  display: flex;
  margin: auto;
  margin-bottom: 1%;
  background-color: #a57ed4;
  color: #fff;
  font-size: 44px;
  text-align: center;
}

.bg-button {
  padding: 5px 5px;
  margin: auto;
  margin-bottom: 1%;
  margin-top: 1%;
  background: #FFFFFF;
  border-radius: 25px;
  font-size: 35px;
}

.sponsors-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 1%; 
}

.icon {
   width: 275px;
   margin-bottom: 7px;
   background-size: cover;
   border-radius: 0%;
   margin: 20px;
}

/* .x-large-logo {
}
.large-logo {
}
.medium-logo {
}
.small-logo {
} */
