.sponsors-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px 0px;
}

.sponsors-title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.box {
  display: flex;
  justify-content: center;

  left: 35px;
  top: 4326px;
  margin: auto;
  margin-bottom: 20px;
  background-color: #a57ed4;
  color: #fff;
  font-size: 44px;
  text-align: center;
}

.button {
  flex-wrap: wrap;
  width: 556px;
  left: 472px;
  top: 4562px;

  background: #ebebeb;
  border-radius: 25px;
  font-size: 35px;
}
.sponsors-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

img {
  width: 275px;
  margin-bottom: 7px;
  background-size: cover;
  border-radius: 0%;
  margin: 20px;
}

/* .x-large-logo {
}

.large-logo {
}

.medium-logo {
}

.small-logo {
} */
